<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>familyName</key>
    <string>Quadratines</string>
    <key>styleName</key>
    <string>Regular</string>
    <key>styleMapStyleName</key>
    <string>regular</string>
    <key>versionMajor</key>
    <integer>1</integer>
    <key>versionMinor</key>
    <integer>0</integer>
    <key>unitsPerEm</key>
    <integer>1000</integer>
    <key>capHeight</key>
    <integer>750</integer>
    <key>xHeight</key>
    <integer>550</integer>
    <key>ascender</key>
    <integer>800</integer>
    <key>descender</key>
    <integer>-200</integer>
    <key>italicAngle</key>
    <real>0</real>
    <key>openTypeHeadCreated</key>
    <string>2021/09/01 05:52:01</string>
    <key>openTypeHheaAscender</key>
    <integer>0</integer>
    <key>openTypeHheaDescender</key>
    <integer>0</integer>
    <key>openTypeHheaLineGap</key>
    <integer>0</integer>
    <key>openTypeNameVersion</key>
    <string>Version 1.000</string>
    <key>openTypeNamePreferredSubfamilyName</key>
    <string>Regular</string>
    <key>openTypeOS2WidthClass</key>
    <integer>5</integer>
    <key>openTypeOS2WeightClass</key>
    <integer>400</integer>
    <key>openTypeOS2VendorID</key>
    <string>PfEd</string>
    <key>openTypeOS2FamilyClass</key>
    <array>
      <integer>0</integer>
      <integer>0</integer>
    </array>
    <key>openTypeOS2Type</key>
    <array/>
    <key>openTypeOS2TypoAscender</key>
    <integer>800</integer>
    <key>openTypeOS2TypoDescender</key>
    <integer>-200</integer>
    <key>openTypeOS2TypoLineGap</key>
    <integer>0</integer>
    <key>openTypeOS2WinAscent</key>
    <integer>0</integer>
    <key>openTypeOS2WinDescent</key>
    <integer>0</integer>
    <key>postscriptFontName</key>
    <string>Quadratines-Regular</string>
    <key>postscriptFullName</key>
    <string>Quadratines Regular</string>
    <key>postscriptWeightName</key>
    <string>Regular</string>
    <key>postscriptUnderlineThickness</key>
    <integer>0</integer>
    <key>postscriptUnderlinePosition</key>
    <integer>0</integer>
    <key>postscriptBlueValues</key>
    <array>
      <real>-16.0</real>
      <real>0.0</real>
      <real>550.0</real>
      <real>566.0</real>
      <real>750.0</real>
      <real>766.0</real>
      <real>800.0</real>
      <real>816.0</real>
    </array>
    <key>postscriptOtherBlues</key>
    <array>
      <real>-216.0</real>
      <real>-200.0</real>
    </array>
    <key>guidelines</key>
    <array>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>585</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>58</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>864</real>
        <key>y</key>
        <real>300</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>290</real>
        <key>y</key>
        <real>244</real>
        <key>angle</key>
        <real>270</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>275</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>375</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>200</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>500</real>
        <key>y</key>
        <real>750</real>
        <key>angle</key>
        <real>0</real>
      </dict>
      <dict>
        <key>x</key>
        <real>20</real>
        <key>y</key>
        <real>566</real>
        <key>angle</key>
        <real>0</real>
        <key>name</key>
        <string>curva asc</string>
      </dict>
      <dict>
        <key>x</key>
        <real>19</real>
        <key>y</key>
        <real>-14</real>
        <key>angle</key>
        <real>0</real>
        <key>name</key>
        <string>curva desc</string>
      </dict>
    </array>
  </dict>
</plist>
